<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title></title>
</head>
<body>

    <div class="pane">

        <div class="header">

        <h1>Full Restaurant Listing</h1>

        </div>

    </br>

    {%  for r in restaurants %}

        <p><font size="5"><a href= "{{ url_for('restaurantMenu', restaurant_id = r.id) }}"> {{ r.name }}</a></font></p>

    {% endfor %}

    </div>

</body>
</html>